
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Jost';
  color: #272829;
}

a {
  color: #149ddd;
}

a:hover {
  color: rgb(37, 112, 210);
  text-decoration: none;
  transition: 0.5s ease ;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jost';
  font-weight: 650;
  transition: 0.5;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #149ddd;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #2eafec;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  text-align: 'center';
  margin: 0px auto;
  text-align: center;

  display: block;
}

#header .profile h1 a, #header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 0px 12px 89px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i, .nav-menu .active > a i, .nav-menu li:hover > a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #149ddd;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  /* background: rgba(125, 174, 243, 0.3); */
  /* set background image here */
  background: url("../img/background2.jpeg") top center; 
  background-size: cover;
  left: 20px;
}


#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 500px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 58px;
  font-weight: 600;
  line-height: 56px;
  color: rgb(227, 247, 212);
}

#hero .hero-pronouns {
  color: #f4dfd2;
  font-size: 23px;
  font-family: "Outfit";
  font-weight: 100;
  letter-spacing: 2px;
}

#hero .hero-bio {
  line-height: 14px;
  font-size: 20px;
  color: #ffffff;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
  font-family: 'Jost';
  font-weight: 650
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin: 20px 0 0 0;
  font-family: 'Jost';
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

#about > div > div > h2{
  margin-bottom: 20px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #149ddd;
}

.about .content p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# projects
--------------------------------------------------------------*/


#projects > div > div.row > div{
  background-color: #fff;
  background-clip: border-box;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 10px;
  padding: 22px 18px 10px 25px;
  margin: 14px 1.1%;
}

.projects .col-lg-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 30%;
  max-width: 40%;
}

.row {
  margin-right: -15px;
  margin-left: -11px;
}

#row-projects {
  margin-right: -45px;
  margin-left: -11px;
}

.box-img{
  width: 100%; 
  margin: 0px -12px 8px -25px;
}

.projects .project-img {
  
  display: flex;
  margin: 0 auto;
  padding-right: 2%;
}

.projects #project-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #f1eeee;
  border-radius: 50px;
  padding: 2px 15px;
}

.projects .icon-box {
  margin-bottom: 20px;
}

.projects .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #149ddd;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #149ddd;
}

.projects .icon i {
  color: #fff;
  font-size: 24px;
}

.projects .icon-box:hover .icon {
  background: #fff;
}

.projects .icon-box:hover .icon i {
  color: #149ddd;
}

.projects .title {
  /* margin-left: 80px; */
  font-weight: 550;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: 'Avenir';
}

.projects .title a {
  color: #343a40;
}

.projects .title a:hover {
  color: #149ddd;
}

.projects .description {
  /* margin-left: 80px; */
  line-height: 24px;
  font-size: 14px;
  font-family: 'Jost';
}

@media (max-width: 700px) {

  .projects .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  #row-projects {
    margin: -15px 0 0 0;
  }

  #projects > div > div.row > div {
    margin: 20px 0%;
  }

  #hero .hero-container {
    min-width: 200px; 
    right: 25px;
  }   

}

/*--------------------------------------------------------------
# portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;

}

.portfolio #portfolio-flters li, 
.projects #project-flters li{
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #149ddd;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #37b3ed;
}

.portfolio .portfolio-wrap:hover::before, 
.projects .projects-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #149ddd !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.portfolio #portfolio-flters {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;
  padding: 4px 15px;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}


/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume .resume-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
  color: #050d18;
}

#ed, #courses {
  margin-top: 30px;
}

.resume .resume-item {
  padding: 0 0 28px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  letter-spacing: 0.5px;
  font-size: 22px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  color: #37537c;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 14px;
  background: #e4edf9;
  padding: 7px 15px;
  display: inline-block;
  font-weight: 450;
  margin-bottom: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  color: #00132C;
  background-color: transparent;
  border: 1px solid #266DB6;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resume .resume-item h5:hover,
.resume .resume-item h5:active {
  outline: 0;
}

.resume .resume-item h5:hover {
  background-color: transparent;
  cursor: pointer;
}

.resume .resume-item h5:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 4px);
  position: absolute;
  right: -6px;
  top: 4.5px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.resume .resume-item h5:before {
  background-color: #D5EDF6;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .resume .resume-item h5 {
    padding: 10px 30px 6px 30px;
  }
}

#address, #phone, #email{
  margin-top: 10px;
}

.resume .resume-item ul {
  padding-left: 10px;
}

.resume .resume-item ul li {
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 14px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

.resume .section-title p {
  margin-top: 5px;
}

.button-48 {
  appearance: none;
  background-color: #47577e;
  border-width: 0;
  box-sizing: border-box;
  box-shadow: rgba(60, 60, 60, 0.2) 0px 2px86px 0px;
  opacity: 0.7;
  border-radius: 15px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Jost';
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 18px 0 0 0;
  opacity: 1;
  outline: 0;
  padding: 0.9em 1.4em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #f4f5f9;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  border-radius: 15px;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  border-radius: 15px;
}

.button-48:after {
  background-color: #FFFFFF;
  border-radius: 15px;
}

.button-48 a {
  z-index: 1;
  position: relative;
  color: #ffffff;
}

.review {
  color: #b94343;
  display: block;
  margin: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.review:hover {
  color: #6e8297;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px 30px 10px 30px;
  border-radius: 6px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: rgb(253, 254, 255);
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  /* background: #040b14; */
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

/* @media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
} */


/*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/
.container {
  padding: 0 40px 0 40px;
}


/*--------------------------------------------------------------
# HTML Widgets
--------------------------------------------------------------*/
